<div class="container">
    <h2 class="text-center">Quizes</h2>
    <p class="text-center">Practice with us</p>
    <div class="row">
      <div class="col-sm-4">
        <div class="bg-info frame">
          <div class="text-center">
            <p>HTML</p><br>
            <a (click)="show('Html')"><button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-warning frame">
          <div class="text-center">
            <p>CSS</p><br>
            <a (click)="show('Css')"><button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-primary frame">
          <div class="text-center">
            <p>JAVA</p><br>
            <a (click)="show('Java')"><button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
    </div>
  
   <div class="row">
      <div class="col-sm-4">
        <div class="bg-info frame">
          <div class="text-center">
            <p>PHP</p><br>
            <a (click)="show('php')"> <button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-warning frame">
          <div class="text-center">
            <p>DOT NET</p><br>
            <a (click)="show('DotNet')"> <button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-primary frame">
          <div class="text-center">
            <p>PYTHON</p><br>
            <a (click)="show('python')">  <button class="btn btn-start">Start</button></a>
            <button class="btn btn-back" onclick="window.history.back()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  