<section class="about">
    <h1>About Us</h1>
    <p style="font-weight: bold">
    practice it and make it perfect..
    </p>
    <div class="about-info">
        <div class="about-img">
            <img src="../assets/bg.jpeg" style="width: 100%; height: 400px;">
        </div>
        <div>
        <p class="body">The Quiz is a very powerful activity that can be used in a variety of situations, 
            either to provide opportunity for reflection, 
            feedback for improving knowledge, or for assessment. 
            The importance of feedback for learning has been highlighted by a number of authors.
             It contributes to student development and retention.
             In distance learning, immediate feedback given to students while they learn is of utmost importance.
             </p><p>quizzes encourage active learner participation.
                 By answering questions and receiving immediate feedback,
                  the learner is involved in the learning process,
                 which reinforces their engagement and motivation to continue.</p>
            <button>Read More...</button>
        </div>
    </div>
</section>

<section class="team">
    <h1>contact us</h1>
    <div class="team-cards">
    
        <!-- Cards here -->
        <!-- Card 1 -->
    
        <div class="card">
            <div class="card-img">
                <img src="../assets/c.jpeg">
            </div>
            <div class="card-info">
                <h2 class="card-name">Komal kadam</h2>
                <p class="card-role">Guider</p>
                <p class="card-email">komalk9359gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

        <!-- Card 2 -->
    
        <div class="card">
            <div class="card-img">
                <img src="../assets/c1.jpeg">
            </div>
            <div class="card-info">
                <h2 class="card-name">tejal bhosale</h2>
                <p class="card-role">Guider</p>
                <p class="card-email">tejal29julygmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    
        <!-- Card 3 -->
    
        <div class="card">
            <div class="card-img">
                <img src="../assets/c2.jpeg">
            </div>
            <div class="card-info">
                <h2 class="card-name">Anita jarag</h2>
                <p class="card-role">Guider</p>
                <p class="card-email">anitajarag2002gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</section>
